/* VARIABBLES USED ON EVERY PAGE */

:root {
  /*COLORS*/

  --primary-color: #202424;
  --on-primary-text: #ffffff;
  --main-text-color: #313131;

  /*PADDINGS & SPACING*/

  --content-outer-frame: 2rem 5% 2rem 5%;
}
